img{
    width:250px;
    height:200px;
}
ul{
    position: relative;
    width: 100%;
     list-style-type: none;
  margin: 0;
  padding: 0.5%;
  overflow: hidden;
  background-color: #333;
}

li a{
    padding: 10px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.container{
    display: grid;
    margin-top: 1px;
    column-gap: 50px;
    row-gap: 50px;
    
}
.col{
    margin: 1px solid black;
    border-right : 1px solid black;
    border-bottom: 1px solid black;
}
.signup{
    margin: auto;
  width: 60%;
  border: 3px solid #111;
  padding: 10px;
  background-color: rgb(224, 224, 212);
}
.login{
    margin: auto;
  width: 60%;
  border: 3px solid #111;
  padding: 10px;
  background-color: rgb(224, 224, 212);
}
/*
th, td {
    border-bottom: 1px solid black;
    background-color: #f9f4ed;
    text-align: center;
    padding: 8px;
  } */
  table{
    border: 1px solid black;
    background-color: #f9f4ed;
    text-align: center;
    padding: 8px;
    width: 100%;
    border-bottom: #111;
}

/*able {
    border-collapse: collapse;
    width: 100%;
  } */
  
  th, td {
    padding: 8px;
    text-align: left;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
  }
  th{
      background-color: blanchedalmond;
  }
  tr:hover {background-color: rgb(234, 229, 230);}